@model PublicHomeViewModel
@{
    ViewBag.BodyClass = "stratify-home stratify-home-variant-5";
}
<div class="container py-2">
    <span class="badge bg-secondary">Homepage variant: index-5 (Stratify)</span>
</div>
<partial name="_HeroBanner" model="Model" />
<partial name="_HomePageSections" model="Model" />
